%% -*- mode: erlang; flycheck-mode: nil -*-

{erl_opts, [debug_info]}.

{project_plugins,
 [{coveralls, "1.4.0"}]}.

{profiles, [
  {docs, [
    {deps, [
      {edown, "0.8.1"}
    ]},
    {edoc_opts, [
      {doclet, edown_doclet},
      {overview, "doc/overview.md"},
      {top_level_readme,
       {"./README.md", "https://github.com/yurrriq/etudes-for-erlang", "develop"}}
    ]}
  ]}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_excl_mods, []}.

{coveralls_coverdata, "_build/test/cover/eunit.coverdata"}.
{coveralls_service_name, "travis-ci"}.
